<div class="col-md-12">
    <div class="container error-container">
        <h1 class="text-center forbidden-text">Forbidden</h1>
        <hr />
        <h3 class="text-center"> this page is forbidden</h3>
        <p class="text-center back-home">
            <a class=" btn-lg btn-danger" href="@Url.Action("Index","Home")" role="button">Go back Home</a>
        </p>
    </div>
</div>