@using EventsWebsite.Models
@model List<Thumbnail>
@{
    ViewBag.Title = "Dashboard";
}
<div class="intro-header">
    <h1>Dashboard</h1>
    <h3>Kies hier de applicatie waarvan u gebruik wilt maken</h3>
</div>
<div class="container">
    <div class="row">
        @foreach (Thumbnail t in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img class="thumbnail-image" src="@t.ImgSource" alt="...">
                    <div class="caption">
                        <h3>@t.Title</h3>
                        <p>@t.Description</p>
                            <a href="@Url.Action(t.ActionName,t.ControllerName)" class="btn btn-success" role="button">Gebruiken</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>
