@model dynamic

@{
    ViewBag.Title = "title";
}
<div class="intro-header">
    <h1>Dashboard</h1>
    <h3>Kies hier de applicatie waarvan u gebruik wilt maken</h3>
</div>
<div class="container">
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="thumbnail-image" src="../../images/laptop.png" alt="...">
            <div class="caption">
                <h3>Toeganscontrole</h3>
                <p>Check bezoekers in en uit</p>
                <p><a href="#" class="btn btn-primary" role="button">Gebruiken</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="thumbnail-image" src="../../images/plus.png" alt="...">
            <div class="caption">
                <h3>Eventbeheer </h3>
                <p>Check bezoekers in en uit</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Gebruiken</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="thumbnail-image" src="../../images/share.png" alt="...">
            <div class="caption">
                <h3>Social Media</h3>
                <p>Check bezoekers in en uit</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Gebruiken</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="thumbnail-image" src="../../images/television-1.png" alt="...">
            <div class="caption">
                <h3>Materiaal</h3>
                <p>Check bezoekers in en uit</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Gebruiken</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="thumbnail-image" src="../../images/users-1.png" alt="...">
            <div class="caption">
                <h3>Gebruiker</h3>
                <p>Check bezoekers in en uit</p>
                <p>
                    <a href="#" class="btn btn-primary" role="button">Gebruiken</a>
                </p>
            </div>
        </div>
    </div>

</div> 
</div>