

@{
    ViewBag.Title = "Toegang";
    string t = "hello";
}

<div class="container">
    <div class="center-box">
    <h1 class="text-center">Barcode</h1>
        <img class="thumbnail-image" src="../../images/barcode.png"/>
        @using (Html.BeginForm("Index","Toegang",FormMethod.Post))
        {
            <input class="form-control" type="text" name="barcode" value="@t">       
        } 
    </div>
</div>